.cesium-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.viewer-container {
  height: inherit;
}

/* Hide Columbus view from Cesium scene mode selector. See https://github.com/CesiumGS/cesium/issues/8005 */
.cesium-sceneModePicker-dropDown-icon[data-bind*="COLUMBUS_VIEW"] {
  display: none;
}

.map-loading-indicator {
  animation: 100ms delay-visibility;
}
