.chart-tooltip {
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  z-index: 9999999999;
}

.chart-tooltip-content {
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 8px;
  white-space: nowrap;
}

.chart-tooltip-rows {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.chart-tooltip-row {
  align-items: center;
  display: flex;
  gap: 4px;
}

.chart-tooltip-color {
  border-radius: 2px;
  flex-shrink: 0;
  height: 12px;
  width: 12px;
}
