.dataset-stream-preview-button {
  align-items: center;
  display: flex;
}

.dataset-stream-preview-modal-content {
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 70vh;
  width: 80vw;
}

.dataset-stream-preview-controls {
  display: flex;
  gap: 16px;
}

.dataset-stream-preview-date {
  display: flex;
  gap: var(--st-react-formfield-horizontal-grid-unit);
}
