/* .product-preview-field {
  flex: 1;
  max-width: 400px;
  min-width: 100px;
}

.product-preview-field .st-react-form-field {
  flex: 1;
} */

.product-preview-field--label {
  align-items: center;
  display: flex;
  gap: 4px;
}

.product-preview-field--label div {
  opacity: 0.5;
}
