.timeline {
  display: flex;
  flex-direction: column;
}

.timeline-time-visualization {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 40px;
}

.timeline-time-visualization-label {
  flex-shrink: 0;
  padding-left: 24px;
}

.ticks {
  align-items: center;
  display: flex;
  font-size: 10px;
  justify-content: center;
  position: relative;
  width: 100%;
}

.tick {
  position: absolute;
  white-space: nowrap;
}

.tick-mark {
  background: var(--app-border-color);
  height: 10px;
  margin-top: 2px;
  position: absolute;
  width: 1px;
}

.tick-label {
  transform: translateX(calc(-50%));
  user-select: none;
}

.timeline-hover-date--tick .tick-mark {
  background: rgba(0, 0, 0, 0.5);
  height: 12.5px;
  left: 0;
  top: 6px;
}

.timeline-hover-date--flipped .tick-mark {
  left: unset;
}

.timeline-hover-date-container {
  position: absolute;
}

.timeline-hover-date {
  font-size: 10px;
  font-variant: tabular-nums;
  letter-spacing: -0.3px;
  user-select: none;
  white-space: nowrap;
}

.timeline-hover-date--text {
  background: white;
  margin: -2px;
  padding: 2px;
}
