.sidebar {
  background: var(--st-white);
  border-right: var(--app-border);
  display: flex;
  flex-direction: column;
  width: 200px;
  gap: 16px;
  height: 100%;
}

.sidebar-branding {
  display: flex;
  gap: 8px;
  align-items: center;
  padding: 16px 8px 0px;
  user-select: none;
}

.sidebar-logo svg {
  width: 32px;
  height: 32px;
}

.sidebar-title {
  font-size: 18px;
}

.sidebar-logo {
  width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* TODO should do better with BEM to differentiate between
   component and a part of a component
*/
