.entity-header {
  display: flex;
  background: var(--st-gray-10);
  justify-content: space-between;
  border-bottom: var(--app-border);
  padding: 8px 10px;
}

.entity-header-title {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.entity-drag-handle {
  cursor: move;
  display: flex;
  justify-content: center;
}

.entity-header-right-content {
  display: flex;
  gap: 8px;
}

.entity-loading {
  user-select: none;
  color: var(--st-gray-50);
  font-size: 10px;
}

.entity-error {
  color: var(--st-red);
}
