.section--open .section-content {
  display: flex;
}

.section-header {
  border-top: 1px solid var(--st-gray-20);
  box-shadow: 0px 1px 0px 0px var(--st-gray-20);
  width: 100%;
}

.section-header .st-button {
  background: var(--st-white);
  padding: 8px 12px;
  height: 40px;
  border-radius: 0px;
  gap: 4px;
  width: 100%;
  justify-content: flex-start;
  border-bottom: 1px solid transparent;
}

.section-content {
  padding: 16px;
  background: var(--st-gray-15);
  display: none;
  flex-wrap: wrap;
  gap: 8px;
}

.section--open .section-header .st-button {
  box-shadow: 0px 1px 0px 0px var(--st-gray-20);
}

.react-grid-layout {
  flex: 1;
  transition-property: none !important;
}

@media (prefers-reduced-motion: no-preference) {
  .react-grid-layout--enable-move-animations .react-grid-layout {
    transition-property: height !important;
  }
  .react-grid-layout--enable-move-animations
    .react-grid-layout
    .react-grid-item.cssTransforms {
    transition-property: transform !important;
  }
}

.react-grid-item {
  transition-property: none !important;
  display: flex;
}
