.timeline-row {
  display: flex;
  flex-direction: column;

  /* height: 100px; */
}

/* .timeline-row:not(.timeline-row--expanded) {
  height: 24px;
} */

.timeline-row-entity-container {
  border-bottom: var(--app-border);
  display: flex;
  height: 24px;
  width: 100%;
}

.timeline-row-header {
  align-items: center;
  display: flex;
  flex-shrink: 0;
  gap: 8px;
  height: 100%;
  justify-content: flex-start;
  padding-right: 4px;
}

.timeline-row-header:hover {
  background-color: transparent !important;
}

.timeline-row-entity.entity {
  border: none;
  border-radius: 0;
}

.timeline-row-subrow {
  border-bottom: var(--app-border);
  display: flex;
  flex-direction: row;
  min-height: 24px;
}

.timeline-row-subrow-container {
  border-radius: 0;
  border-right: var(--app-border) !important;
}

.timeline-row-subrow-title {
  align-items: center;
  display: flex;
  gap: 8px;
  justify-content: flex-end;
  min-height: 24px;
}

.timeline-row-subrow-title.tertiary.st-button:hover {
  background-color: transparent;
}

.timeline-row-subrow-header {
  align-items: flex-start;
  border-right: var(--app-border);
  display: flex;
  justify-content: flex-end;
  padding: 4px;
}
