.sidebar-link.st-button {
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  padding: 8px 6px;
  color: var(--st-gray-60);
  height: 30px;
  border-radius: 4px;
}

.sidebar-link--primary {
  font-weight: 600;
}

.sidebar-link--active button.st-button,
.sidebar-link--active button.st-button:hover {
  background-color: #e6f3ff !important ; /* TODO figure out what color scheme to use and if this can be defined via stellar vars */
  color: #007bff !important ;
}

.sidebar-link--pending {
  color: gray;
}
