.sidebar-padded-content {
  padding: 0 8px;
}

.sidebar-divider {
  border-top: 1px solid var(--st-gray-20);
  flex-shrink: 0;
  padding: 4px 0;
  width: 100%;
}

.sidebar-bottom-content {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 8px;
}
