.table {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 300px;
}

.table.table-compact {
  min-height: unset;
}

.table .ag-theme-stellar .ag-root-wrapper {
  border: none;
}

.table-column-group-header {
  font-weight: 700;
}

.table .limit-cell {
  background-color: rgba(255, 180, 180, 0.6);
  color: rgb(147, 0, 0);
}

.table .warning-cell {
  background-color: rgba(255, 239, 180, 0.6);
  color: rgb(112, 91, 19);
}

.ag-tooltip {
  white-space: pre;
}
