.page {
  display: flex;
  background: var(--st-gray-15);
  flex-direction: column;
  width: 100%;
}

.page-body {
  display: flex;
  flex-direction: column;

  height: 100%;
  width: 100%;
}

.page--padded .page-body {
  padding: 16px;
}

.page--padded .page-header {
  border-bottom: var(--app-border);
}
