.st-tabs {
  background: white;
  border-bottom: var(--app-border);
  border-top: var(--app-border);
  display: flex;
  flex: 1;
  flex-direction: column;
}

.st-tabs-list {
  display: flex;
  flex-shrink: 0;
  width: min-content;
}

.st-tabs-trigger {
  align-items: center;
  background-color: white;
  border-radius: 0;
  display: flex;
  flex: 1;
  height: 40px;
  justify-content: center;
  line-height: 1;
  padding: 0 16px;
  user-select: none;
}

.st-tabs-trigger:hover {
  background: transparent !important;
  color: #007bff;
}

.st-tabs-trigger[data-state="active"] {
  box-shadow: inset 0 -1px 0 0 currentcolor, 0 1px 0 0 currentcolor;
  color: #007bff;
}
